form > span
{
    color: red;
}

button
{
    padding: 1em;
    border-radius: .3em;
    background-color: pink;
    color: rgb(83, 71, 55);
    cursor: pointer;
}

button:hover
{
    background-color: rgb(172, 24, 46);
    color: black;
}

body
{
    margin-left: 5%;
    margin-right: 5%;
}

h1,.message
{
    text-align: center;
}

h1,form label, form button,.message
{
    font-family: 'Courier New', Courier, monospace;
}

input[type=text]
{
    margin-bottom: .5em;
}

form label
{
    display: inline-block;
    width: 50%;
    text-align: right;
    margin-right: 2em;
}

form button
{
    margin-left: 50%;
}

@media only screen and (max-width: 650px)
{
    form label
    {
        text-align: left;
    }
    form button
    {
        margin-left: 0%;
    }
}